.detail__grid{
  display: flex;
  padding: 10px $padding-primary;
}

.detail{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  &__media{
    height: 400px;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  &__container{
    width: 600px;
    margin: 0 auto;
  }
  &__description{
    width: 600px;
    margin: 20px auto;
  }
}

