$bg-primary: #000;
$bg-secondary: #7d7d7d;
$bg-secondary-300: #DFDFDF;
$bg-default: #fff;
$bg-shadow-card: rgba(0, 0, 0, 0.466);

:root {
  --button-background: #{$bg-primary};
  --button-color: #{$bg-primary};
}
